@model IEnumerable<ProyectoInventarioASP.Models.Display>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Monitores</h1>

<p>
    @if (User.IsInRole("admin") || User.IsInRole("lecturaYEscritura"))
    {
    <div class="container-flex">
        <p>
            <a asp-action="Create" class="btn btn-orange btn-sm">Insertar</a>
        </p>
        <p>
            <a asp-action="ImprimirFilter" class="btn btn-orange btn-sm" id="guardar">Imprimir Todos</a>
        </p>
    </div>
    }
</p>
<div class="table-responsive">
    <table class="table table-hover table-border" id="tabla">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumInv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumSerie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="CuerpoTablaPc">
            @foreach (var item in Model)
            {
                <tr class="filapc">
                    <td>
                        @Html.DisplayFor(modelItem => item.NumInv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumSerie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    @if (User.IsInRole("admin") || User.IsInRole("lecturaYEscritura"))
                    {
                        <td><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-orange btn-sm">Detalles</a></td>
                        <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"> baja</a></td>
                    }
                    @if (User.IsInRole("lectura"))
                    {
                        <td><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-orange btn-sm">Detalles</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>