@model ProyectoInventarioASP.Models.MicroProcesador

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Detalles</h1>

<div>
    <h4>MicroProcesador No: @Html.DisplayFor(model => model.NumSerieId)</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col p-2 bg-secondary border">@Html.DisplayNameFor(model => model.Marca)</div>
            <div class="col p-2 bg-secondary border">@Html.DisplayFor(model => model.Marca)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-secondary border">@Html.DisplayNameFor(model => model.Tecnologia)</div>
            <div class="col p-2 bg-secondary border">@Html.DisplayFor(model => model.Tecnologia)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-secondary border">@Html.DisplayNameFor(model => model.estado)</div>
            <div class="col p-2 bg-secondary border">@Html.DisplayFor(model => model.estado)</div>
        </div>
    </div>
</div>
<div class="container-flex p-2">
    <a asp-action="Edit" asp-route-id="@Model?.NumSerieId" class="btn btn-primary btn-sm">Modificar</a> |
    <a asp-action="Index" class="btn btn-info btn-sm">Volver</a>
</div>
