@model IEnumerable<ProyectoInventarioASP.Models.MicroProcesador>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Microprocesadores</h1>

<p>
    @if (User.IsInRole("admin") || User.IsInRole("lecturaYEscritura"))
    {
        <a asp-action="Create" class="btn btn-primary btn-sm">Insertar</a>
    }
</p>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr class="filapc" id="tabla">
            <th>
                @Html.DisplayNameFor(model => model.NumSerieId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tecnologia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="CuerpoTablaPc">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumSerieId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tecnologia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                @if (User.IsInRole("admin") || User.IsInRole("lecturaYEscritura"))
                {
                    <td><a asp-action="Details" asp-route-id="@item.NumSerieId" class="btn btn-primary btn-sm">Detalles</a></td>
                    <td><a asp-action="Delete" asp-route-id="@item.NumSerieId" class="btn btn-danger btn-sm">Borrar</a></td>
                }

            </tr>
        }
    </tbody>
</table>
</div>