@model ProyectoInventarioASP.Models.Computadora

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Insertar</h1>

<h4>Computadora</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row col-md-5 border border-1">
        <div class="form-group">
            <label asp-for="NumInv" class="control-label"></label>
            <input asp-for="NumInv" placeholder="Introduzca un No de inventario" class="form-control border border-5"
                id="NumInv" required />
            <span asp-validation-for="NumInv" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NombreDepartamento" class="control-label"></label>
            <select asp-for="NombreDepartamento" class="form-control">
                <option>Seleccione un Departamento de la Empresa</option>
                <option value="Economia">Economia</option>
                <option value="Direccion General">Direccion General</option>
                <option value="Inversiones">Inversiones</option>
                <option value="Recursos Humanos">Recursos Humanos</option>
                <option value="Despacho">Despacho</option>
                <option value="Comercial">Comercial</option>
                <option value="Informatica y Comunicaciones">Informatica y Comunicaciones</option>
                <option value="Tecnico">Tecnico</option>
                <option value="Organizacion y control">Organizacion y control</option>
                <option value="Atencion al cliente">Atencion al cliente</option>
                <option value="Logistica">Logistica</option>
                <option value="Generacion de Emergencia">Generacion de Emergencia</option>
                <option value="Transorte">Transporte</option>
                <option value="Fre">Free</option>
            </select>
            <span asp-validation-for="NombreDepartamento" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NombreArea" class="control-label"></label>
            <select asp-for="NombreArea" class="form-control">
                <option>Seleccione un Area de la Empresa</option>
                <option value="Obe Provincial">Obe Provincial</option>
                <option value="UEB Sancti-Spiritus">UEB Sancti-Spiritus</option>
                <option value="UEB Taguasco">UEB Taguasco</option>
                <option value="UEB Yaguajay">UEB Yaguajay</option>
                <option value="UEB Trinidad">UEB Trinidad</option>
                <option value="UEB Cabaiguan">UEB Cabaiguan</option>
                <option value="UEB La Sierpe">UEB La Sierpe</option>
                <option value="UEB Jatibonico">UEB Jatibonico</option>
                <option value="UEB Fomento">UEB Fomento</option>
            </select>
            <span asp-validation-for="NombreArea" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" placeholder="Introduzca el nombre de la pc" id="NombrePc"
                class="form-control border border-5" required />
            <span asp-validation-for="Nombre" class="text-danger"></span>
            <div class="inactive" id="validacionNombreMax">El maximo de caracteres para este campo es de 15</div>
            <div class="inactive" id="validacionNombreMin">El minimo de caracteres para este campo es de 13</div>
        </div>
        <div class="form-group">
            <label asp-for="SO" class="control-label"></label>
            <select asp-for="SO" class="form-control">
                <option value="Win 11 64bit">Win 11 64bit</option>
                <option value="Win 11 32bit">Win 11 32bit</option>
                <option value="Win 10 64bit">Win 10 64bit</option>
                <option value="Win 10 32bit">Win 10 32bit</option>
                <option value="Win 8 64bit">Win 8 64bit</option>
                <option value="Win 8 32bit">Win 8 32bit</option>
                <option value="Win 7 64bit">Win 7 64bit</option>
                <option value="Win 7 32bit">Win 7 32bit</option>
                <option value="Win XP">Win XP</option>
                <option value="Linux">Linux</option>
            </select>
            <span asp-validation-for="SO" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="estado"></label>
            @Html.DropDownList(
            "Estado", Html.GetEnumSelectList<Estado>(),
            "Seleccione un estado",
            new{@class = "form-control"}
            )
        </div>
        <div class="form-group">
            <label asp-for="Mac" class="control-label"></label>
            <input asp-for="Mac" placeholder="Introduzca una Mac" class="form-control border border-5" required />
            <span asp-validation-for="Mac" class="text-danger" required></span>
        </div>
        <div class="form-group">
            <label asp-for="Sello" class="control-label"></label>
            <input asp-for="Sello" placeholder="Introduzca un No de sello" class="form-control border border-5"
                required />
            <span asp-validation-for="Sello" class="text-danger" required></span>
        </div>
        <div class="form-group">
            <label asp-for="NumIp" class="control-label"></label>
            <input asp-for="NumIp" placeholder="Introduzca un ip" class="form-control border border-5" required />
            <span asp-validation-for="NumIp" class="text-danger" required></span>
        </div>

        <div class="form-group">
            <label asp-for="MotherBoardId" class="control-label"></label>
            <input asp-for="MotherBoardId" list="boards" placeholder="Introduzca un No de Serie de board"
                class="form-control border border-5" />
            <datalist id="boards">
                @foreach (var item in Model.MotherBoards)
                {
                    <option value="@item.NumSerieId">@item.NumSerieId</option>
                }
            </datalist>
        </div>
        <div class="form-group">
            <label asp-for="ImprNumInv" class="control-label"></label>
            <input asp-for="ImprNumInv" list="invImp" placeholder="Introduzca un inventario de impresora"
                class="form-control border border-5" />
            <datalist id="invImp">
                @foreach (var item in Model.Impresoras)
                {
                    <option value="@item.NumInv">@item.NumInv</option>
                }
            </datalist>
        </div>
        <div class="form-group">
            <label asp-for="TeclNumInv" class="control-label"></label>
            <input asp-for="TeclNumInv" list="tecladosinv" placeholder="Introduzca un inventario de teclado"
                class="form-control border border-5" />
            <datalist id="tecladosinv">
                @foreach (var item in Model.Teclados)
                {
                    <option value="@item.NumInv">@item.NumInv</option>
                }
            </datalist>
        </div>
         @if (Model.Usuarios.Count() == 1)
            {
            <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <select asp-for="UserName" class="form-control" asp-items="ViewBag.NombreUser"></select>
            </div>
            }
            @if (Model.Usuarios.Count() > 1)
            {
            <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" placeholder="Introduzca un usuario" class="form-control border border-5"
            list="usuarios" />
            <datalist id="usuarios">
            @foreach (var item in Model.Usuarios)
            {
            <option value="@item.NombreUsuario">@item.NombreUsuario</option>
            }
            </datalist>
            </div>
            } 
       
        <div class="form-group">
            <label asp-for="UpsInv" class="control-label"></label>
            <input asp-for="UpsInv" placeholder="Introduzca un inventario de UPS" class="form-control border border-5"
                list="Ups" />
            <datalist id="Ups">
                @foreach (var item in Model.Upss)
                {
                    <option value="@item.NumInv">@item.NumInv</option>
                }
            </datalist>
        </div>

        <div class="form-group p-2">
            <input type="submit" value="Crear" class="btn btn-orange btn-sm" />
        </div>
</form>


<div class="container-flex">
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
