@model Computadora

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactPDF</title>
      <link rel="shortcut icon" href="~/Assets/logo.png" type="image/x-icon">
  <!-- Custom styles -->
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    
       <h4>Computadora No: @Html.DisplayFor(model => model.Id)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumInv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumInv)
        </dd>
        <dt class = "col-sm-2">
            Departameto: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDepartamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImprNumInv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImprNumInv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeclNumInv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeclNumInv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherBoardMarca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherBoardMarca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscoDuroCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscoDuroCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscoDuroTipoCon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscoDuroTipoCon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemoriaRamCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemoriaRamCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemoriaRamTec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemoriaRamTec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MicroTecn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MicroTecn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teclado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teclado.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherBoard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherBoard.NumSerieId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Impresora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Impresora.Id)
        </dd>
    </dl>
</div>
</body>
</html>