@model ProyectoInventarioASP.Models.Computadora

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}
<div class="margin">
    <h1 class="h1">Detalles</h1>
    <h3 class="h3">Computadora No: @Html.DisplayFor(model => model.Id)</h3>
    <div class="container">
        <div class="row">
            <div class="col p-2 bg-primary text-white border">@Html.DisplayNameFor(model => model.NumInv)</div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayFor(model => model.NumInv)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayNameFor(model => model.Nombre)</div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayFor(model => model.Nombre)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-primary text-white  border">@Html.DisplayNameFor(model => model.NombreDepartamento)</div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayFor(model => model.NombreDepartamento)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayNameFor(model => model.NombreArea)</div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayFor(model => model.NombreArea)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayNameFor(model => model.NumIp)</div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayFor(model => model.NumIp)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayNameFor(model => model.Mac)</div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayFor(model => model.Mac)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayNameFor(model => model.UserName)</div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayFor(model => model.UserName)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayNameFor(model => model.Sello)</div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayFor(model => model.Sello)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-primary text-white border">
                <h3 class="h3">Detalles de los componentes: </h3>
            </div>
            @if (Model.Memorias.Count() == 0)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-danger border d-flex justify-content-between">
                    <div>Esta Pc no tiene memoria Ram</div><a asp-controller="MemoriaRam" asp-action="Create"
                    asp-route-MotherBoardId="@Model.MotherBoardId" class="text-info">Insertar</a>
                </div>
            }
            @if (Model.Display.Count() == 0)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-danger border d-flex justify-content-between">
                    <div>Esta Pc no tiene Monitor</div><a asp-controller="Display" asp-action="Create"
                    asp-route-NumInv="@Model.NumInv" class="text-info">Insertar</a>
                </div>
            }
            @if (Model.Scanners.Count() == 0)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-danger border d-flex justify-content-between">
                    <div>Esta Pc no tiene Scanner</div><a asp-controller="Scanner" asp-action="Create"
                   asp-route-UsuarioId = "@Model.UsuarioId" class="text-info">Insertar</a>
                </div>
            }
            @if (Model.Discos.Count() == 0)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-danger border d-flex justify-content-between">
                    <div>Esta Pc no tiene Discos duros</div><a asp-controller="DiscoDuro" asp-action="Create"
                    asp-route-MotherBoardId="@Model.MotherBoardId" class="text-info">Insertar</a>
                </div>
            }
            <div class="w-100"></div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayNameFor(model => model.MotherBoardId)</div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayFor(model => model.MotherBoardId)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayNameFor(model => model.MotherBoardMarca)</div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayFor(model => model.MotherBoardMarca)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayNameFor(model => model.MicroTecn)</div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayFor(model => model.MicroTecn)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayNameFor(model => model.ImprNumInv)</div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayFor(model => model.ImprNumInv)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayNameFor(model => model.UpsInv)</div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayFor(model => model.UpsInv)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayNameFor(model => model.TeclNumInv)</div>
            <div class="col p-2 bg-primary text-white border">@Html.DisplayFor(model => model.TeclNumInv)</div>
            <div class="w-100"></div>

            @foreach (var monitor in Model.Display)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-primary text-white border">Monitor inv: @monitor.NumInv</div>
                <div class="col p-2 bg-primary text-white border">Monitor Marca: @monitor.Marca</div>

            }
            @foreach (var scan in Model.Scanners)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-primary text-white border">Scanner inv: @scan.NumInv</div>
                <div class="col p-2 bg-primary text-white border">Scanner Marca: @scan.Marca</div>

            }

            @foreach (var disco in Model.Discos)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-primary text-white border">No Serie Disco: @disco.NumSerieId</div>
                <div class="col p-2 bg-primary text-white border">Marca del Disco: @disco.Marca</div>
                <div class="col p-2 bg-primary text-white border">Capacidad del disco: @disco.Capacidad</div>

            }


            @foreach (var memoria in Model.Memorias)
            {

                <div class="w-100"></div>
                <div class="col p-2 bg-primary text-white border">No Serie De la memoria: @memoria.KayNumSerieId</div>
                <div class="col p-2 bg-primary text-white border">Marca de la memoria: @memoria.Marca</div>
                <div class="col p-2 bg-primary text-white border">Capacidad de la memoria: @memoria.Capacidad</div>

            }
        </div>
    </div>
    <div class="container-flex p-2">
        @if (User.IsInRole("admin") || User.IsInRole("lecturaYEscritura"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-sm">Modificar</a>
            <a asp-action="Print" asp-route-id="@Model?.Id" class="btn btn-info btn-sm">Imprimir</a>
        }
        <a asp-action="Index" class="btn btn-info btn-sm">Volver</a>
    </div>
</div>