@model Computadora

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactPDF</title>
    <link rel="shortcut icon" href="~/Assets/logo.png" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>

<body>

    <h4>Computadora No: @Html.DisplayFor(model => model.Id)</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col p-2 border">
                <p>@Html.DisplayNameFor(model => model.NumInv) : @Html.DisplayFor(model => model.NumInv)</p>
            </div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light border">
                <p>@Html.DisplayNameFor(model => model.Nombre) : @Html.DisplayFor(model => model.Nombre)</p>
            </div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light border">
                <p>@Html.DisplayNameFor(model => model.NombreDepartamento) : @Html.DisplayFor(model =>
                    model.NombreDepartamento)</p>
            </div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light border">
                <p>@Html.DisplayNameFor(model => model.NombreArea) : @Html.DisplayFor(model => model.NombreArea)</p>
            </div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light border">
                <p>@Html.DisplayNameFor(model => model.NumIp) : @Html.DisplayFor(model => model.NumIp)</p>
            </div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light border">
                <p>@Html.DisplayNameFor(model => model.Mac) : @Html.DisplayFor(model => model.Mac)</p>
            </div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light border">
                <p>@Html.DisplayNameFor(model => model.UserName) : @Html.DisplayFor(model => model.UserName)</p>
            </div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light border">
                <p>@Html.DisplayNameFor(model => model.Sello) : @Html.DisplayFor(model => model.Sello)</p>
            </div>
            <div class="col p-2 bg-light border"><h3>Detalles de los componentes:</h3></div>
              <div class="w-100"></div>
            <div class="col p-2 bg-light border">
                <p>@Html.DisplayNameFor(model => model.MicroTecn) : @Html.DisplayFor(model => model.MicroTecn)</p>
            </div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light border">
                <p>@Html.DisplayNameFor(model => model.ImprNumInv) : @Html.DisplayFor(model => model.ImprNumInv)</p>
            </div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light border">
                <p>@Html.DisplayNameFor(model => model.UpsInv) : @Html.DisplayFor(model => model.UpsInv)</p>
            </div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light border">
                <p>@Html.DisplayNameFor(model => model.MotherBoardId) : @Html.DisplayFor(model => model.MotherBoardId)
                </p>
            </div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light border">
                <p>@Html.DisplayNameFor(model => model.MotherBoardMarca) : @Html.DisplayFor(model =>
                    model.MotherBoardMarca)</p>
            </div>

            @foreach (var monitor in Model.Display)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-light border">Monitor inv: @monitor.NumInv</div>
                <div class="col p-2 bg-light border">Monitor Marca: @monitor.Marca</div>

            }

            @foreach (var disco in Model.Discos)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-light border">No Serie Disco: @disco.NumSerieId</div>
                <div class="col p-2 bg-light border">Marca del Disco: @disco.Marca</div>
                <div class="col p-2 bg-light border">Capacidad del disco: @disco.Capacidad</div>

            }

            @foreach (var memoria in Model.Memorias)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-light border">No Serie De la memoria: @memoria.KayNumSerieId</div>
                <div class="col p-2 bg-light border">Marca de la memora: @memoria.Marca</div>
                <div class="col p-2 bg-light border">Capacidad de la memoria: @memoria.Capacidad</div>

            }
        </div>
    </div>
    </div>
</body>

</html>