@model IEnumerable<ProyectoInventarioASP.Models.Computadora>

@{
    ViewData["Title"] = "Index";
}
<div class="container_center">
<h1>Computadoras</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm margin">Create New</a>
    <a asp-controller="Computadora" asp-action="Filter" class="btn btn-primary btn-sm margin">Filtrar</a>
</p>

<div class="table-responsive container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre Inventario</th>
                <th scope="col">Nombre Departamento</th>
                <th scope="col">Nombre Area</th>
                <th scope="col">Nombre de la Computadora</th>
                <th scope="col">Numero de Mac</th>
                <th scope="col">Numero IP</th>
                <th scope="col">Memoria Ram Id</th>
                <th scope="col">Impresora Id</th>
                <th scope="col">NombreUsuario Id</th>
                <th scope="col">Disco Duro Id</th>
                <th scope="col">MotherBoard Id</th>
                <th scope="col">MicroProcesador Id</th>
                <th scope="col">Monitor Id</th>
                <th scope="col">Teclado Id</th>
                <th scope="col">Estado</th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.NumInvId</td>
                    <td>@obj.NombreDepartamento</td>
                    <td>@obj.NombreArea</td>
                    <td>@obj.Nombre</td>
                    <td>@obj.Mac</td>
                    <td>@obj.NumIp</td>

                    <td><a asp-controller="MemoriaRam" asp-action="TodasMemoria"
                        style="text-decoration:none;">@obj.MemoriaRamId</a></td>

                    <td><a asp-controller="Impresora" asp-action="TodasImpresoras"
                        style="text-decoration:none;">@obj.ImpresoraId</a></td>

                    <td><a asp-controller="Usuario" asp-action="TodosUsuarios"
                        style="text-decoration:none;">@obj.NombreUsuarioId</a></td>

                    <td><a asp-controller="DiscoDuro" asp-action="TodosDiscosDuros"
                        style="text-decoration:none;">@obj.DiscoDuroId</a></td>

                    <td><a asp-controller="MotherBoard" asp-action="TodasBoard"
                        style="text-decoration:none;">@obj.MotherBoardId</a></td>

                    <td><a asp-controller="Micro" asp-action="Index"
                        style="text-decoration:none;">@obj.MicroProcesadorId</a></td>

                    <td><a asp-controller="Display" asp-action="TodosMonitores"
                        style="text-decoration:none;">@obj.MonitorId</a></td>

                    <td><a asp-controller="Teclado" asp-action="TodosTeclados"
                        style="text-decoration:none;">@obj.TecladoId</a></td>

                    <td>@obj.estado</td>
                    <td><a asp-action="Edit" asp-route-id="@obj.NumInvId" class="btn btn-primary btn-sm">Edit</a></td>
                    <td><a asp-action="Details" asp-route-id="@obj.NumInvId" class="btn btn-primary btn-sm">Details</a></td>
                    <td><a asp-action="Delete" asp-route-id="@obj.NumInvId" class="btn btn-danger btn-sm">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>