@model IEnumerable<ProyectoInventarioASP.Models.Computadora>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Numero de inventario</th>
            <th>Nombre Area</th>
            <th>Nombre</th>
            <th>Mac</th>
            <th>Numero Ip</th>
            <th>Numero inv teclado</th>
            <th>MotherBoardId</th>
            <th>ImpresoraId</th>
            <th>UsuarioId</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NumInvId</td>
                <td>@item.NombreArea</td>
                <td>@item.Nombre</td>
                <td>@item.Mac</td>
                <td>@item.NumIp</td>
                <td>@item.TecladoId</td>
                <td>@item.MotherBoardId</td>
                <td>@item.ImpresoraId</td>
                <td>@item.NombreUsuarioId</td>
                <td>@item.estado</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NumInvId">Edit</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.NumInvId">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.NumInvId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

