@model Computadora
@{
    ViewData["Title"] = "Computadora";
}

<h1>Computadora</h1>
<form class="form-inline my-2 my-lg-0" method="post">
    <input class="form-control mr-sm-2" type="search" asp-for="NumInvId" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
</form>
<p>Nombre: @Model.Nombre</p>
<p>Nombre Area: @Model.NombreArea</p>
<p>Nombre Departamento:@Model.NombreDepartamento</p>
<p>Nombre Del usuario: @Model.NombreUsuarioId</p>
<p>Numero Inventario: @Model.NumInvId</p>
<p>IP: @Model.NumIp</p>
<p>MAC: @Model.Mac</p>
<p>Disco Duro Id: @Model.DiscoDuroId</p>
<p>Teclado inventario: @Model.TecladoId</p>
<p>Monitor inventario: @Model.MonitorId</p>
<p>Numero de serie Ram: @Model.MemoriaRamId</p>
<p>Numero de serie Micro: @Model.MicroProcesadorId</p>
<p>Estado: @Model.estado</p>
