@model IEnumerable<Computadora>
@{
  ViewData["Title"] = "Computadora";
}


<h1>Computadoras</h1>
<div class="container">
  <a asp-controller="Computadora" asp-action="Create" class="btn-info btn-sm">Crear</a>
  <a asp-controller="Computadora" asp-action="Edit" class="btn-info btn-sm">Editar</a>
  <a asp-controller="Computadora" asp-action="Delete" class="btn-info btn-sm">Borrar</a>
  <a asp-controller="Computadora" asp-action="Index" class="btn-info btn-sm">Filtrar</a>
  <a asp-controller="Computadora" asp-action="BuscarEst" class="btn-info btn-sm">Filtrar por Estado</a>
</div>
<div class="table-responsive-xl container">

  <table class="table table-bordered table-info">
    <thead>
      <tr>
        <th scope="col">Nombre Inventario</th>
        <th scope="col">Nombre Departamento</th>
        <th scope="col">Nombre Area</th>
        <th scope="col">Nombre de la Computadora</th>
        <th scope="col">Memoria Ram Id</th>
        <th scope="col">Numero de Mac</th>
        <th scope="col">Numero IP</th>
        <th scope="col">Impresora Id</th>
        <th scope="col">NombreUsuario Id</th>
        <th scope="col">Disco Duro Id</th>
        <th scope="col">MotherBoard Id</th>
        <th scope="col">MicroProcesador Id</th>
        <th scope="col">Monitor Id</th>
        <th scope="col">Teclado Id</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>

      @foreach (var obj in Model)
      {
        <tr>
          <td>@obj.NumInvId</td>
          <td>@obj.NombreDepartamento</td>
          <td>@obj.NombreArea</td>
          <td>@obj.Nombre</td>
          <td>@obj.MemoriaRamId</td>
          <td>@obj.Mac</td>
          <td>@obj.NumIp</td>
          <td>@obj.ImpresoraId</td>
          <td>@obj.NombreUsuarioId</td>
          <td>@obj.DiscoDuroId</td>
          <td>@obj.MotherBoardId</td>
          <td>@obj.MicroProcesadorId</td>
          <td>@obj.MonitorId</td>
          <td>@obj.TecladoId</td>
          <td>@obj.estado</td>
        </tr>
      }

    </tbody>
  </table>
</div>
