@model IEnumerable<ProyectoInventarioASP.Models.MotherBoard>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>MotherBoards</h1>

@if (User.IsInRole("admin") || User.IsInRole("lecturaYEscritura"))
{
    <p>
        <a asp-action="Create" class="btn btn-orange btn-sm">Insertar</a>
    </p>
}
<div class="table-responsive">
<table class="table table-hover table-border" id="tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumSerieId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="CuerpoTablaPc">
        @foreach (var item in Model)
        {
            <tr class="filapc">
                <td>
                    @Html.DisplayFor(modelItem => item.NumSerieId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                @if (User.IsInRole("admin") || User.IsInRole("lecturaYEscritura"))
                {
                    <td><a asp-action="Details" asp-route-id="@item.NumSerieId" class="btn btn-orange btn-sm">Detalles</a></td>
                    <td><a asp-action="Delete" asp-route-id="@item.NumSerieId" class="btn btn-danger btn-sm">Eliminar</a></td>
                }
            </tr>

        }
    </tbody>
</table>
</div>