@model Teclado
@{
    ViewData["Title"] = "Teclado";
}

<h1>Teclado</h1>


<p>Numero de inventario: @Model.NumInvId</p>
<p>Numero de serie: @Model.NumSerie</p>
<p>Marca: @Model.Marca</p>
<p>Marca: @Model.TipoConexion</p>
<p>Estado: @Model.estado</p>



