@model Ups

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactPDF</title>
    <link rel="shortcut icon" href="~/Assets/logo.png" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />

</head>

<body>
   <div>
    <h4>Ups No: @Html.DisplayFor(model => model.Id)</h4>
    <hr />
      <div class="container">
            <div class="row">
                <div class="col p-2 border">
                    <p>@Html.DisplayNameFor(model => model.NumInv) : @Html.DisplayFor(model => model.NumInv)</p>
                </div>
                <div class="w-100"></div>
                <div class="col p-2   border">
                    <p>@Html.DisplayNameFor(model => model.Marca) : @Html.DisplayFor(model => model.Marca)</p>
                </div>
                <div class="w-100"></div>
                <div class="col p-2   border">
                    <p>@Html.DisplayNameFor(model => model.NumSerie) : @Html.DisplayFor(model => model.NumSerie)</p>
                </div>
                <div class="w-100"></div>
                <div class="col p-2   border">
                    <p>@Html.DisplayNameFor(model => model.estado) : @Html.DisplayFor(model => model.estado)</p>
                </div>
                <div class="w-100"></div>
                <div class="col p-2   border">
                    <p>@Html.DisplayNameFor(model => model.UserName) : @Html.DisplayFor(model => model.UserName)</p>
                </div>
            </div>
        </div>
</div>
</body>

</html>