@model ProyectoInventarioASP.Models.Usuario

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1>Eliminar</h1>

<h3>Estas seguro que desea eliminar este usuario?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDepartamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDepartamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreArea)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="container-flex p-2">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
        </div>
    </form>
</div>
