@model ProyectoInventarioASP.Models.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1 class="h1">Detalles</h1>

<div>
    <h4 class="h4">Trabajador No: @Html.DisplayFor(model => model.Id)</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col p-2 bg-light   border">@Html.DisplayNameFor(model => model.NombreCompleto)</div>
            <div class="col p-2 bg-light   border">@Html.DisplayFor(model => model.NombreCompleto)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light   border">@Html.DisplayNameFor(model => model.NombreUsuario)</div>
            <div class="col p-2 bg-light   border">@Html.DisplayFor(model => model.NombreUsuario)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light   border">@Html.DisplayNameFor(model => model.NombreDepartamento)</div>
            <div class="col p-2 bg-light   border">@Html.DisplayFor(model => model.NombreDepartamento)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light   border">@Html.DisplayNameFor(model => model.NombreArea)</div>
            <div class="col p-2 bg-light   border">@Html.DisplayFor(model => model.NombreArea)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light   border">@Html.DisplayNameFor(model => model.Cargo)</div>
            <div class="col p-2 bg-light   border">@Html.DisplayFor(model => model.Cargo)</div>
            <div class="w-100"></div>
            <div class="col p-2 bg-light   border">
                <h3 class="h3">Responsable de:</h3>
            </div>
            @if (Model.Monitores.Count() == 0)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-danger border d-flex justify-content-between">
                    <div>Este trabajador no tiene monitor</div><a asp-controller="Display" asp-action="Create"
                    asp-route-NombreUsuario="@Model.NombreUsuario" class="text-info">Insertar</a>
                </div>
            }
            @if (Model.Computadora.Count() == 0)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-danger border d-flex justify-content-between">
                    <div>Este trabajador no tiene Computadora</div><a asp-controller="Computadora" asp-action="Create"
                    asp-route-NombreUsuario="@Model.NombreUsuario" class="text-info">Insertar</a>
                </div>
            }
            @if (Model.Impresora.Count() == 0)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-danger border d-flex justify-content-between">
                    <div>Este trabajador no tiene impresora</div><a asp-controller="Impresora" asp-action="Create"
                    asp-route-NombreUsuario="@Model.NombreUsuario" class="text-info">Insertar</a>
                </div>
            }
            @if (Model.Scanner.Count() == 0)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-danger border d-flex justify-content-between">
                    <div>Este trabajador no tiene Scanner</div><a asp-controller="Scanner" asp-action="Create"
                    asp-route-NombreUsuario="@Model.NombreUsuario" class="text-info">Insertar</a>
                </div>
            }
            @if (Model.Teclado.Count() == 0)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-danger border d-flex justify-content-between">
                    <div>Este trabajador no tiene Teclado</div><a asp-controller="Teclado" asp-action="Create"
                    asp-route-NombreUsuario="@Model.NombreUsuario" class="text-info">Insertar</a>
                </div>
            }
            @if (Model.Ups.Count() == 0)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-danger border d-flex justify-content-between">
                    <div>Este trabajador no tiene Ups</div><a asp-controller="Ups" asp-action="Create"
                    asp-route-NombreUsuario="@Model.NombreUsuario" class="text-info">Insertar</a>
                </div>
            }
            @if (Model.Celular.Count() == 0)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-danger border d-flex justify-content-between">
                    <p>Este trabajador no tiene Celular</p> <a asp-controller="Celular" asp-action="Create"
                    asp-route-NombreUsuario="@Model.NombreUsuario" class="text-info">Insertar</a>
                </div>
            }
            @if (Model.Telefono.Count() == 0)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-danger border d-flex justify-content-between">
                    <p>Este trabajador no tiene Telefono</p> <a asp-controller="Telefono" asp-action="Create"
                    asp-route-NombreUsuario="@Model.NombreUsuario" class="text-info">Insertar</a>
                </div>
            }
            @if (Model.Laptop.Count() == 0)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-danger border d-flex justify-content-between">
                    <p>Este trabajador no tiene Laptop</p> <a asp-controller="Laptop" asp-action="Create"
                    asp-route-NombreUsuario="@Model.NombreUsuario" class="text-info">Insertar</a>
                </div>
            }
            @foreach (var item in Model.Monitores)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-light   border">Monitor Inv: @item.NumInv</div>
                <div class="col p-2 bg-light   border">Marca: @item.Marca</div>
            }
            @foreach (var item in Model.Impresora)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-light   border">Impresora Inv: @item.NumInv</div>
                <div class="col p-2 bg-light   border">Marca: @item.Marca</div>
            }
            @foreach (var item in Model.Scanner)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-light   border">Scanner Inv: @item.NumInv</div>
                <div class="col p-2 bg-light   border">Marca: @item.Marca</div>
            }
            @foreach (var item in Model.Teclado)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-light   border">Teclado Inv: @item.NumInv</div>
                <div class="col p-2 bg-light   border">Marca: @item.Marca</div>
            }
            @foreach (var item in Model.Ups)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-light   border">Ups Inv: @item.NumInv</div>
                <div class="col p-2 bg-light   border">Marca: @item.Marca</div>
            }
            @foreach (var item in Model.Celular)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-light   border">Movil Inv: @item.NumInv</div>
                <div class="col p-2 bg-light   border">Marca: @item.Marca</div>
            }
            @foreach (var item in Model.Telefono)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-light   border">Telefono Inv: @item.NumInv</div>
                <div class="col p-2 bg-light   border">Marca: @item.Marca</div>
            }
            @foreach (var item in Model.Laptop)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-light   border">Laptop Inv: @item.NumInv</div>
                <div class="col p-2 bg-light   border">Nombre: @item.Nombre</div>
            }
            @foreach (var item in Model.Computadora)
            {
                <div class="w-100"></div>
                <div class="col p-2 bg-light   border">Computadora Inv: @item.NumInv</div>
            }
        </div>


    </div>
    <div class="container-flex p-2">
        @if (User.IsInRole("admin") || User.IsInRole("lecturaYEscritura"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-orange btn-sm">Modificar</a>
            <a asp-action="Print" asp-route-id="@Model?.Id" class="btn btn-orange btn-sm">Imprimir</a>
        }
        <a asp-action="Index" class="btn bg-orange btn-sm">Volver</a>
    </div>