@model Usuario

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactPDF</title>
    <link rel="shortcut icon" href="~/Assets/logo.png" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>

<body>

    <div>
        <h4>Trabajador No: @Html.DisplayFor(model => model.Id)</h4>
        <hr />
        <div class="container">
            <div class="row">
                <div class="w-100"></div>
                <div class="col p-2   border">
                    <p>@Html.DisplayNameFor(model => model.NombreCompleto) : @Html.DisplayFor(model =>
                        model.NombreCompleto)</p>
                </div>
                <div class="w-100"></div>
                <div class="col p-2   border">
                    <p>@Html.DisplayNameFor(model => model.NombreUsuario) : @Html.DisplayFor(model =>
                        model.NombreUsuario)</p>
                </div>
                <div class="w-100"></div>
                <div class="col p-2   border">
                    <p>@Html.DisplayNameFor(model => model.NombreDepartamento) : @Html.DisplayFor(model =>
                        model.NombreDepartamento)</p>
                </div>
                <div class="w-100"></div>
                <div class="col p-2   border">
                    <p>@Html.DisplayNameFor(model => model.NombreArea) : @Html.DisplayFor(model => model.NombreUsuario)
                    </p>
                </div>
                <div class="w-100"></div>
                <div class="col p-2   border">
                    <p>@Html.DisplayNameFor(model => model.Cargo) : @Html.DisplayFor(model => model.Cargo)
                    </p>
                </div>
                <div class="col p-2   border">Responsable de:</div>
                @foreach (var item in Model.Monitores)
                {
                    <div class="w-100"></div>
                    <div class="col p-2   border">
                        <p>Monitor Inv: @item.NumInv con Marca: @item.Marca</p>
                    </div>
                }
                @foreach (var item in Model.Impresora)
                {
                    <div class="w-100"></div>
                    <div class="col p-2   border">
                        <p>Impresora Inv: @item.NumInv con Marca: @item.Marca</p>
                    </div>
                }
                @foreach (var item in Model.Scanner)
                {
                    <div class="w-100"></div>
                    <div class="col p-2   border">
                        <p>Scanner Inv: @item.NumInv con Marca: @item.Marca</p>
                    </div>
                }
                @foreach (var item in Model.Teclado)
                {
                    <div class="w-100"></div>
                    <div class="col p-2   border">
                        <p>Teclado Inv: @item.NumInv con Marca: @item.Marca</p>
                    </div>
                }
                @foreach (var item in Model.Ups)
                {
                    <div class="w-100"></div>
                    <div class="col p-2   border">
                        <p>Ups Inv: @item.NumInv con Marca: @item.Marca</p>
                    </div>
                }
                @foreach (var item in Model.Celular)
                {
                    <div class="w-100"></div>
                    <div class="col p-2   border">
                        <p>Movil Inv: @item.NumInv con Marca: @item.Marca</p>
                    </div>
                }
                @foreach (var item in Model.Telefono)
                {
                    <div class="w-100"></div>
                    <div class="col p-2   border">
                        <p>Telefono Inv: @item.NumInv con Marca: @item.Marca</p>
                    </div>
                }
                @foreach (var item in Model.Laptop)
                {
                    <div class="w-100"></div>
                    <div class="col p-2   border">
                        <p>Laptop Inv: @item.NumInv con Nombre: @item.Nombre</p>
                    </div>
                }
                @foreach (var item in Model.Computadora)
                {
                    <div class="w-100"></div>
                    <div class="col p-2   border">Computadora Inv: @item.NumInv</div>
                }
            </div>
        </div>
</body>

</html>